
h1{
    text-align: center;
    font-size: 30px;
    color:blue;
}
#SignUp-Form{
    margin-top: -30%;
    margin-left: 20%;
}
label{

    margin-left: 45%;

}
img{
    width: 50%;
    height: 70%;
}

#First-Name{

    margin-left: 45%;
    width: 20%;
    margin-bottom: 2%;
}
#Last-Name{
    margin-left: 45%;
    width: 20%;
    margin-bottom: 2%;
}
#user-Name{
    margin-left: 45%;
    width: 20%;
    margin-bottom: 2%;
}
#mail{
    margin-left: 45%;
    width: 20%;
    margin-bottom: 2%;
}
#Password{
    margin-left: 45%;
    width: 20%;
    margin-bottom: 2%;
}
#C-Password{
    margin-left: 45%;
    width: 20%;
    margin-bottom: 2%;
}
button{
    margin-left: 45%;
    width: 15%;
    margin-top:2%;
}
h4 {
     margin-left: 45%;

     margin-bottom: 10%;
     color: blue;
     size: 30px;
 }